### .gitignore-boilerplates/Django.gitignore

*.log
*.pot
*.pyc
local_settings.py


### .gitignore-boilerplates/Python.gitignore

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


### .gitignore-boilerplates/Global/IntelliJ.gitignore

*.iml
*.ipr
*.iws
.idea/


### .gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### .gitignore-boilerplates/Global/Mercurial.gitignore

/.hg/*
*/.hg/*
.hgignore


### .gitignore-boilerplates/Global/PyCharm.gitignore

# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml


### .gitignore-boilerplates/Global/SASS.gitignore

### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### .gitignore-boilerplates/Global/SublimeText.gitignore

# SublimeText project files
*.sublime-workspace


### .gitignore-boilerplates/Global/vim.gitignore

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### .gitignore-boilerplates/Global/VirtualEnv.gitignore

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts


